{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Location</th>
			<th scope="col">Postcode</th>
			<th scope="col">Longitude</th>
			<th scope="col">Latitude</th>
		</tr>
	</thead>
	<tbody>

      {% for store in stores %}

		<tr>
			<th scope="row">{{ loop.index }}</th>
			<td><a href="http://www.google.com/maps/place/{{store.latitude}},{{store.longitude}}">{{store.location}}</a></td>
			<td>{{store.postcode}}</td>
			<td>{{store.longitude}}</td>
			<td>{{store.latitude}}</td>
		</tr>
    {% endfor %}

	</tbody>
</table>
{% endblock %}